@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,400;0,700;1,300&display=swap');

:root {
    --background: linear-gradient(135deg, #667eea7e 0%, #764ba298 100%);
    --color-primary: #daa520;
    --color-secondary: #764ba2;
    --boton-padding: 20px 40px;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Raleway', sans-serif;

}

img {
    max-width: 100%;
    height: auto;
}


.flecha {
    display: flex;
}

.flecha a {
    display: flex;
    align-items: center;
    font-size: 2rem;
    text-decoration: none;
    color: black;
    font-weight: 700;

}

.flecha a img {
    height: 2rem;
    margin-right: .5rem;


}

.flecha a:hover,
img:hover {
    color: goldenrod;
}

.title {
    font-size: 2.5rem;
    text-align: center;
    border-bottom: 1px solid gray;
}

.title h1 span {
    color: goldenrod;
}

.subtitle {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.subtitle span {
    color: goldenrod;
}

.shadow {
    box-shadow: 0px 0px 20px 3px rgba(66, 66, 66, 1);
}

.description {
    font-size: 1.5rem;
    font-weight: 400;
}

.description li {
    margin-bottom: 1rem;
}

.container {
    width: 90%;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 0;
    max-width: 1200px;

}

.section {
    margin-bottom: 2rem;
}

.section1-image-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
}

.section1-img {
    margin-bottom: 3rem;
}

.section1-img p {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.section1-img img {
    width: 500px;
    height: 500px;
}

.section1-img--center {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}


.section1-img--center p {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.section1-img--center img {
    width: 500px;
    height: 400px;
}

.section1-img--center-2 img {
    width: 300px;
    height: auto;
}



.section2-img-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 2rem;
}

.section2-img-container {
    text-align: center;
}


.section2-img img {
    width: 300px;
    height: 400px;
}

.section2-img p {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.section2-img--center p {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.section6-block img {
    border: 1px solid rgb(218, 214, 214);
}

.link-container {
    transition-property: background;
    transition: .3s linear;
    padding: 2rem;
    border: 1px solid rgb(232, 229, 229);
   

}

.link-container:hover {
    color: #fff;
    background-color: #daa520;
}

.link-container p {
    font-weight: 500;
}

.link-container a {
    text-decoration: none;
    color: #000;
}

.link-container a:hover {
    color: #fff;
}

.section7-button{
    margin-top: 3rem;
}

.section7-button a {
    text-decoration: none;
    font-size: 1.5rem;
    background: #000;
    color: #fff;
    border: 1px solid #000;
    padding: 1rem;
    font-weight: 800;
    border-radius: 5px ;
    transition: .3s linear;
   
}
.section7-button a:hover{
    background: #daa520;
    border: 1px solid #daa520;
}

/* footer */

.nav {
    justify-content: space-around;
}

.nav-items-footer {
    border: none;
}
.nav-items:hover{
    cursor: pointer;
}


.footer {
    background: #000;
    
}

.footer-grid {
    display: grid;
    grid-template-columns: 3fr 2fr;
    gap: 20px;
    align-items: center;
 

}

.footer-title {
    font-weight: 400;
    color: #fff;
    font-size: 2rem;
    margin-bottom: 30px;
    text-align: center;
}
.footer-icon{
    text-decoration: none;
    color: #fff;
    font-size: 2rem;
}

.footer-icons {
    display: flex;
    justify-content: space-evenly;
}

.footer-container-icons {
    display: inline-block;
    width: 60px;
    height: 60px;
    color: #fff;
    text-align: center;
   border: 1px solid #fff;
   
    border-radius: 50%;
}


.fa-brands.footer-icon {
    line-height: 60px;
}
.nav-items-footer {
    text-decoration: none;
    padding: 10px;
    color: #fff;
}


@media screen and (max-width:880px) {
   

    .title h1{
        margin-top: 2rem;
    }

    .section1-image-container{
        grid-template-columns: 1fr;
    }

    .section2-img-container{
        grid-template-columns: 1fr;
    }
    .section2-img{
        margin-bottom: 2rem;
    }
    .nav {
        text-align: center;
        justify-content: space-around;
    }

    .nav-items-cta {
        border: none;
    }

    .nav-items {
        font-weight: 400;
        border-bottom: 1px solid #fff;
        margin-right: 0;
    }

    .nav-items:hover {
        background: #fff;
        color: var(--color-secondary);
    }

    .nav-items-footer {
        border: none;
    }

    .nav-items-footer:hover {
        background: none;
        color: #fff;
        border: none;
    }

    .footer-grid {
        grid-template-columns: 1fr;

    }

    .footer-contact {
        grid-row: 1/2;
    }
}

@media screen and (max-width:500px) {

  

}